body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: -webkit-linear-gradient(left, #003366,#004080,#0059b3
    , #0073e6);
  }
  
  .container {
    width: 600px; 
    height: 350px; 
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  h1 {
    text-align: center;
    color: #333;
  }

  .logo {
    width: 150px; 
    height: auto; 
  }
  
  .form-group {
    margin-bottom: 20px;
    width: 400px;
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    position: relative;
    gap: 100px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"] {
    width: calc(100% - 10px); 
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .search-results {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1;
    max-width: 200px; 
    max-height: 150px; 
    overflow-y: auto; 
    margin-top: 1px; 
    display: none; 
    left: 100px; 
  }
  
  .search-results li {
    padding: 10px;
    cursor: pointer;
  }
  
  .search-results li:hover {
    background-color: #f0f0f0;
  }
  
  button[type="submit"] {
    background-color: #007bff; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3; 
  }
  
  